* {
 margin:0px;
 padding:0px;
 font-family: 'Nunito Sans', sans-serif;
 box-sizing: border-box;
}


body{
    background-image:linear-gradient(to bottom right, #fbdb89, #f48982);
    background-attachment:fixed;
    margin:20px auto;
   }


.container{
    border-radius:15px;
    width: 1000px;
    background-color:whitesmoke;
    margin:auto;   
   }


.header{
   width: 100%;
   background-color:#e6e6e6;
   padding-bottom: 9%;
   border-top-left-radius:15px;
   border-top-right-radius:15px;
  }


.clear{
   content:" ";
   clear:both;
   width:100%;
   }


.logo{
    float:left;
    padding:20px 0px 0px 25px;
    width:25%;
    }
    
.logo-img{
width:160px;
padding-left: 15px;

}    
.label{
     float:left;
     padding:30px 0px 0px 2px;
     width:34%;
     
   }
   
   
.btn{
    border-radius:30px;    
    width:100px;
    color:white;
    position:relative;
    right:3px;
    float:right;
    height:35px;
    border-style:none; 
    background-image:linear-gradient(to right,  #fbdb89, #f48982);
    }
    
    
 input[type=search]{
    border-radius:30px;
    height:35px;
    width:270px;
    color:grey;
    padding-left:2%;
    position:absolute;
    border-style:none; 
    }
    
    
.search_icon{
    vertical-align:sub;
    width:16%;   
    }
    
.search-name{
padding-left:7px;
font-size:12px;
}    
    
    
.left-arrow{
    width:19%;
    opacity:0.8;
    vertical-align:sub; 
    color:red;  
    }
    
.right-arrow{
 width:19%;
color:red;
vertical-align:sub; 
}   
.next-arrow{
    width:19%;
    opacity:0.8;
    vertical-align:sub; 
} 
    
  
.add{
    display:inline-block;    
    float:left;
    padding-top:36px;
    padding-left:130px;
    width:40%;
    font-size: 76%;
    font-weight: bold; 
    }
    
.red{
vertical-align:top;
position:relative;
top:4px;
left:2px;
}    
    
    
.note-icon{
    width:22px;
    vertical-align:sub;
   }    
   
.bookmark-icon{
    width:17px; 
    opacity:0.8;
    margin-left:20px;  
  
    }
.content{
    width: 100%;
    clear: both;       
    background-color:whitesmoke;
    }
    
    
.leftcontaint{
    float: left;
    width: 35%;
    background-color:whitesmoke;
    clear:both;
    }
    
    
.rightcontaint{
    float: right;
    width: 65%; 
    background-color:whitesmoke; 
       
    }
    
.recipe-full-div{
list-style:none;
margin-top:20px;

}    
.recipe-list{        
     
     float:left;
     width:100%;
     padding-top:2%;
     padding-bottom: 1%; 
     padding-left:0%;  
                       
    }
    
    
.recipe-list:hover{
    background-color:#e6e6e6;    
    }
    
    
.recipe-name{
     width: 70%;
     text-transform: uppercase;
     float:right;
     position: relative;
     top: 8px;
    right: 24px;
    }
    
   .recipe-special{
   color:red;
   font-size: 12px;
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
   }
.recipe-cookedby{
    font-size:8px;
    font-weight: bold;
    color:grey;

}   
.recipe-div{
     float:left;
     width:27%;
     position: relative;
     left: 7%;     
    }
    
    
.recipe-image{
     border-radius:50%;
     height: 2.8rem;
     width: 47%;
     opacity:0.8;
    }
    
    
.btn_page{
    padding: 10px;
    clear:both;
    width:35%;
    background-color:whitesmoke;
    position:relative;
    top:65px;
    padding-left: 3%;
    padding-right: 3%;
   }
   
   
.btn--previousPage{
    float: left;
    border-radius: 25px;
    color:red;
    width:28%;
    border-style:none; 
    
   }
   
.pre--arrow{
 fill:red;
 width:26%;
 position: relative;
 top: 6px;
} 
.next--arrow{
    fill:red;
     width:26%;
     position: relative;
     top: 6px;
}  
   
   
.btn--nextPage{
     float: right;
     color:red;
     border-radius: 25px;
     width:28%;
     border-style:none; 
     
    }
    
.nextPage>svg{
fill:red;
width:18px;
position:relative;
top:6px;
}    
    
    
.copyrights{
     color:grey;
     font-size: 10px;
     float:left;
     width:35%;
     background-color:whitesmoke;
     position:relative;
     top:95px;
     padding-left:4%;
     padding-right:3%;
    }
   
.recipe-pic{
    background-color:whitesmoke;
    }
    
    
.biriyani{
     width:100%;
     opacity:0.8;
     
    }
    
    
.tag-div{    
    position:relative;
    bottom:80px;
    height:33px;
    font-size:20px; 
       
    }
  
.tag{
    color:white;
    text-transform: uppercase;    
    transform:skewY(-8deg);
    width:40%;
    height:55px;
    padding-top:2%;   
    background-image:linear-gradient(to top, #f48982,  #fbdb89);
    }
    
    
.tag-name{
    color:white;
    height:55px;    
    text-transform: uppercase;
    padding-top:2%;   
    transform:skewY(-8deg);
    width:30%;
    position: relative;
    bottom: 6px;
    background-image:linear-gradient(to top, #f48982,  #fbdb89);
    }
    
    
.time{
    background-color:whitesmoke;
    width:100%;
    color:grey;
    text-align: center;
    clear: both;
    height: 80px;
    }
    
    
.timed{
    width:30%;
    float: left;
    padding-top:4%;
    }
    
    
.times{
    float: left;
    width:40%;
    padding-top:4%;
    
    }
    
    
.timeb{
    width:33px;
    height:33px;
    float: left;
    padding-top:4%;
    border-radius:100%;
    position:relative;
    top:33%;
    left:14%;
    background-image:linear-gradient(to top, #f48982,  #fbdb89);
    }
    
.timeb>svg{
width:18px;
fill:white;
position:relative;
bottom:17px;
}
.ingredients{
    background-color:#e6e6e6;
    }
    
    
.list{
    width:100%;
    color:grey;
    display: table;
    font-size:medium;
    padding:35px;
      }
      
li{
padding:3%;

}      
 .li{
 
 padding:0px;
 }    
      
.ingredients_title{
    text-transform: uppercase;
    text-align: center;
    color: red;
    opacity:0.8;
    font-size:large;
    padding-top:30px;
    font-weight: bold;
      }
      
    
.cook{
    background-color:whitesmoke;
    float:right;
    width:65%;
    color:grey;
    padding-bottom:3%;
    border-bottom-right-radius:15px;   
    }
    
    
.cook-title{
    text-transform: uppercase;        
    text-align: center;
    color: red;
    opacity:0.8;
    font-size:large;
    padding-bottom:3%;
    font-weight: bold;
    }
    
      
      
.direction{
    text-transform: uppercase;
    text-align: center;
    border-radius:30px;
    height:35px;
    width:121px;
    position:relative;
    left:260px;
    top:20px;
    color:white;
    border-style:none; 
    background-image:linear-gradient(to top, #f48982,  #fbdb89);
   }
      
.direction>svg{
fill:white;
width:19px;
position:relative;
top:4px;


}      
   
 button:hover{
    cursor:pointer;
      }
      
 ul {
  columns: 2;
  list-style:none;
}

.tick-mark{
    width:6%;
    opacity:0.8;
    }
    
.cookedby{
text-align:center;
}
b{
color:black;
}    

.ad{
   display:inline-block;
   }

.icon-note{
   vertical-align:sub;
   padding-top:3%;
   width:9%;
   display:inline-block;
   }


.icon-bookmark{
   vertical-align:sub;
   width:7%;
   }
   
   
.icon-clock{
   
   width:12%;
    position: relative;
    top: 6px;
   }
   
   
.icon-people{
   position: relative;
    top: 6px;
   width:9.5%;
  }
  
  
.icon-plus{
    width: 6.2%;
    position: relative;
    top: 3px;
  }
  
  
.icon-minus{
    position: relative;
    top: 1px;
    width:5.1%;
  }
  
  
.icon-bookmark-round{
  width:28%;
  
  }

.previousPage>svg{
fill:red;
width:18px;
position:relative;
top:6px;

}


   
