*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    border: 1px solid black;

}
.current--order{
    padding: 10px;
    border: 1px solid black;
}
.order--count{
display: inline;
padding:0% 2%;
border: 1px solid black;
}
.current--items{
    display: inline;
    padding:0% 2%;
    border: 1px solid black;

}
.main{
    width: 100%;
}
.items--bar{
    float: left;
    border: 1px solid black;
    width: 60%;
}
.billing--bar{
    float: right;
    border: 1px solid black;
    width: 40%;
}
.custmer--name{
    display: block;
}
.custmer--div{
    clear: both;
    width: 100%;
    padding: 5% 2% 0% 1%;
    
}
.custmer--table{
    float: left;
    width: 80%;
}
.custmer--clear{
    float: right;
    width: 20%;
    position: relative;
    left: 50px;
    color: rgb(40, 126, 240);
}
#name{
   
    width: 100%;
    height: 30px;
}
.user--name{
    padding: 5% 2% 0% 1%;
width: 100%;
   
}
.items--cart--div{
    width: 100%;
}
.items--cart__item{
    width: 63%;
}
.items--cart__quantity{
 width: 25%;
}
.items--cart__price{
    width: 25%;

}

.items--price--total{
    color: aliceblue;
    text-align: center;
width: 100%;
clear: both;
}
.order--ticket{
    width: 50%;
    background-color: blue;
    float: left;
    height: 30px;

}
.order--charge{
    width: 50%;
    background-color: green;
    float: right;
    height: 30px;

}
.items--bar{
    border: 1px solid black;
}
.item--details{
    display:inline-block;
    text-align: center;
    border: 1px solid black;
    width: 24%;
    height: 100px;
    border-bottom: 3px solid rgb(25, 82, 136);
}
.food--item{
    margin: 15px;

}
.food--cost{
    margin: 15px;

}
#quantity{
    width: 55px;
    height: 25px;
    text-align: center;
}
